.container-um {
  margin-top: 10px;
  padding: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.imagem {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.texto {
  margin-top: 10px;
}

.container-um:hover {
  background-color: rgba(243, 243, 243, 0.82);
}
