.input {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 20px;
}
.container-topo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
